<!-- Bootstrap Navbar -->
<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <img class="logo" src="./cat-512.png" alt="logo" />
    <a class="navbar-brand" href="#">Migration Automator<small>(beta)</small></a>
  </div>
</nav>
<div class="grid">
  <div class="col">
    <form class="form-fields-group" #f="ngForm">
      <div class="form1">
        <!--<label for="name">Load connection from saved</label>-->
        <md-select [(ngModel)]="selectedConnInfoView" (ngModelChange)="onSelectedChanged($event)" name="selectConnInfo" placeholder="Saved connections">
          <md-option *ngFor="let c of conectionInfoList" [value]="c.profileName">{{c.profileName}}</md-option>
        </md-select>
      </div>
      <div class="form2">
        <button md-raised-button type="submit" (click)="connectWithSelected()">Load</button>
      </div>
      <div class="form2">
        <button md-button type="submit" (click)="deleteSelected()">Delete selected</button>
      </div>
    </form>
    <md-tab-group>
      <md-tab label="Database Configuration">
        <form class="form-fields-group">
          <div class="input-group">
            <md-input-container class="form1">
              <input md-input mdTextareaAutosize=t rue class="form-control" id="databaseName" placeholder="Database i.e. <machine name>\sql12"
                [(ngModel)]="dbConnection.server" name="databaseName">
            </md-input-container>
            <span class="input-group-btn">
          <!--<div class="form2">-->
            <button md-raised-button type="submit" (click)="useDefaultServer()">Default Server</button>
          <!--</div>-->
        </span>
          </div>
        </form>
        <form class="form-fields-group">
          <div class="input-group">
            <md-input-container class="form1">
              <input md-input class="form-control" id="userName" placeholder="sql login, i.e. sa" [(ngModel)]="dbConnection.userName" name="userName">
            </md-input-container>
            <span class="input-group-btn">
        <button md-raised-button type="submit" (click)="useDefaultUserName()">Default login</button>
        </span>
            <!--<div *ngIf="formErrors.name" class="alert alert-danger">
            {{ formErrors.name }}
          </div>-->
          </div>
        </form>
        <form class="form-fields-group">    
            <md-input-container class="form1">
              <input md-input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="dbConnection.password" name="password">
            </md-input-container>
            <!--<div *ngIf="formErrors.name" class="alert alert-danger">
            {{ formErrors.name }}
          </div>-->
          
        </form>

        <!--<div [hidden]="server.valid|| server.pristine" class="alert alert-danger validation">
        Server name is required.
      </div>-->
      </md-tab>
    </md-tab-group>
  </div>
  <div class="col">
  </div>
</div>
<!--<div class="container">
  <div [style.margin-top.px]="10" class="row">
    <h3>Add new person</h3>
    <form class="form-inline">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" #name>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" #age>
      </div>
      <button type="button" (click)="addPerson(name.value, age.value)" class="btn btn-primary">Add person</button>
    </form>
  </div>
  <div [style.margin-top.px]="10" class="row">
    <h3>People</h3>
    <!-- Bootstrap Card -->
<!--<div [style.margin-right.px]="10" class="card card-block col-md-3" *ngFor="let person of people">
      <h4 class="card-title">{{person.name}} {{person.age}}</h4>
    </div>
  </div>
</div>-->
